
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.login-container form{
    margin-top: 3%;
    width:28rem;
    height:22rem;
    background-color:var(--primary-color);
    box-shadow: #666 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 15px;

}
.login-container h2{
    color:var(--text-color);
    font-size: 2rem;
    margin-top: 3%;
}
.login-box{
    margin-left: 16%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-box input{
    width:80%;
}

.login-box p{
    font-size: 0.9rem;
    padding-top: 2%;
    margin-left: 2%;
}
.login-box span{
    color:blue;
}
#login-btn{
    padding:5px 8rem;
}
/* Pop-up box styles */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-inner {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .popup-inner h3 {
    margin-bottom: 20px;
  }

  .popup-inner input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .popup-inner button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }