.admin-dashboard {
    display: grid;
    grid-template-columns: 170px 1fr; /* Sidebar takes 250px and the remaining space goes to main content */
    height: 100vh;
  }
/* sidebar */
  .sidebar {
    width: 170px;
    height: 100vh;
    background-color: var(--background-color);
    position: fixed;
  }
  .sidebar i{
    font-size: 5rem;
    margin:2.5rem;
  }
  .sidebar h3{
    margin-top: -2rem;
  }
  .sidebar ul {
    list-style: none;
    margin-top: 2rem;
    padding: 0;
  }
  
  .sidebar ul li {
    padding:1rem;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .logout-link{
    text-decoration: none;
    color:var(--text-color);
  }
  .sidebar ul li.active {
    background-color:var(--text-color);
    color: white;
  }
  /* maincontent */
  .main-content {
    flex: 1;
    padding: 20px;
  }
  /* dashboard */
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 columns for 5 boxes */
    gap: 20px;
  }
  
  .stat-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    color:var(--text-color);
    padding-left: 10px;
    
    width:20rem;
    height:7rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.stat-box h3{
    margin-top: -1rem;
    font-size: 2.5rem;
    font-family: 'Roboto';
    color:var(--secondary-color);
}
  .dashboard-boxes h2{
    font-weight: 400;
    font-family: "Sriracha", cursive;
    font-style: normal;
    padding-bottom: 1rem;
  }
  .stat-box p {
    font-size: 18px;
    margin-top: 1.1rem;
    
  }
  .stat-box span{
    position: absolute;
    font-size: 5rem;
    margin-top:-5%;
    margin-left: 15%;
    font-family: "Noto Serif Old Uyghur", serif;
    font-weight: 400;
    font-style: normal;
  }
  .chart-container{
    margin-top:1.5rem;
    width:20em;
    height:23em;
    padding-left:1em;
    padding-right: 1rem;
    
    background-color: var(--background-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .chart-container h4{
    font-size: 2rem;
    font-weight: 700;
   padding-top: 1rem;
  }
  .bar-container{
    width:40rem;
    height:25rem;
    position: absolute;
    margin-top: -27%;
    margin-left: 28%;
  }
  .bar-container h4{
    font-size: 2rem;
    font-weight: 700;
   padding-top: 1rem;
  }
  /* customer */
  .users-management {
    padding: 20px;
  }
  
  .users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .users-table th,
  .users-table td {
    text-align: left;
    padding: 10px;
  }
  .users-table td{
    border: 1px solid white;
    background-color: var(--background-color);
  }
  .users-table th {
    background-color:var(--text-color);
    color: white;
    border: 1px solid var(--secondary-color);
  }
  
  .users-table td button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ban {
    background-color: #dc3545;
    color: white;
  }
  
  .banned {
    background-color: #28a745;
    color: white;
  }
  
  .ban:hover,
  .banned:hover {
    opacity: 0.9;
  }
  .address {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px; /* adjust the width to your liking */
  }  
  /* services */
.head{
    display: flex;
    justify-content: space-between;
    margin-right:3rem;
}
  .add-service-form {
    margin-bottom: 30px;
    margin-top: 1rem;
    background-color: var(--background-color);
    padding:1rem;
  }
  
  .add-service-form h3 {
    margin-bottom: 10px;
  }
  
  .add-service-form input,
  .add-service-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-service-form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .add-btn{
    background-color: var(--text-color);
    color:white;
  }
  .add-service-form button:hover {
    background-color: #218838;
  }
  
  .services-admin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .service-admin-card {
    background-color:var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: left;
  }
  
  .service-admin-card h3 {
    margin-top: 0;
  }
  
  .service-admin-card p {
    margin: 8px 0;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .services-management button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .activate {
    background-color: #28a745;
    color: white;
  }
  
  .deactivate {
    background-color: #dc3545;
    color: white;
  }
  
  .remove {
    background-color: var(--text-color);
    color: white;
  }
  
  button:hover {
    opacity: 0.9;
  }
  /* technician */
  .technicians-management {
    padding: 20px;
  }
  
  .add-technician-form {
    margin-bottom: 30px;
  }
  
  .add-technician-form h3 {
    margin-bottom: 10px;
  }
  
  .add-technician-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-technician-form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-technician-form button:hover {
    background-color: #218838;
  }
  
  /* Technician Table */
  .technicians-management button{
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
  .technicians-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .technicians-table th, .technicians-table td {
    padding: 12px 15px;
    text-align: left;
   
  }
  
  .technicians-table th {
    background-color: var(--text-color);
    color:white;
    border: 1px solid var(--secondary-color);
  }
  
  .technicians-table td {
    background-color: var(--background-color);
    border: 1px solid white;
  }
  
  .remove {
    padding: 6px 12px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .remove:hover {
    background-color: #c82333;
  }
  /* jobrequest */  
  .job-requests-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
.filter-dropdown label{
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.filter-dropdown select{
  background-color: var(--background-color);
  color:var(--text-color);
  border: 1px solid white;
  padding:0.4rem;
  font-size: 1.1rem;
  border-radius: 8px;
}
  .job-requests-table th, .job-requests-table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .job-requests-table th {
    background-color: var(--text-color);
    border: 1px solid var(--secondary-color);
    color:white;
  }
  
  .job-requests-table td {
    background-color:var(--background-color);
    border: 1px solid white;
  }
  .job-requests-management button {
    padding: 6px 12px;
    background-color: #c82333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .job-requests-management button:hover {
    background-color: #0056b3;
  }
  